<HTML><HEAD>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <META NAME="Author" CONTENT="Norifumi Kiyozumi">
   <TITLE>dbg</TITLE>
<style type="text/css">
<!--
@import url("remaping.css") ;
-->
</style>
<style type="text/css">
body {background-color:#EEEEEE;margin:4 0 0 0;padding:0 0 0 0}
th {border-style:none}
td {border-style:none}
</style>
<script language=Javascript>

function dgb_action2(cmd){
	document.getElementById('msg_well').value+=(eval(cmd)+'\n');
}
</script>
</HEAD>
<body
	onUnload='window.opener.xUI.SWap["dbg_"]=false;'
>
<!--
	<script src=../javascript/nas_common.js></script>
	<script src=../javascript/nas_common_HTML.js></script>
	<script src=../javascript/game.js></script>
-->
<!---  PAGE HEADER TABLE  ---->
<TABLE BORDER="0" WIDTH="100%" HEIGHT="24" BGCOLOR="#880000" BORDERCOLOR="#880000">
<TR>
<TH>
<FONT COLOR="#FFFFFF">N E K O M A T A Y A</FONT>
</TH>
</TR>
</TABLE>
<!---  PAGE HEADER TABLE  ---->
<br /><span style="text-align:center">
<form action="void()">
<!-- 
/*
やっと作るデバッグツール
遅いよな 4・25
*/
-->
<textarea	
	nema=msg_well
	id=msg_well
	style="width:100%;height:96"
></textarea><br /><input	type=button
	id=select
	value="全選択"
	style="width:90"
	onClick="document.getElementById('msg_well').select()"
><input	type=reset
	id=reset
	value="リセット"
	style="width:90"
><input	type=button
	id=select
	value="消去↑"
	style="width:90"
	onClick="document.getElementById('msg_well').value=''"
><input	type=button
	id=select
	value="消去↓"
	style="width:90"
	onClick="document.getElementById('cmd').value=''"
><input	type=button
	id=option
	value="閉じる"
	style="width:90"
	onClick="window.close()"
><br/>
<!--
<input	type=button
	id=select
	value="取り込み"
	style="width:240"
	onClick="
	if(window.opener.XPS.readIN(document.getElementById('msg_well').value))	window.opener.nas_Rmp_Startup();
	"
>--><br />
<textarea	
	nema=cmd
	id=cmd
	style="width:100%;height:96"
>dbg=true</textarea><br /><input	type=button
	id=action
	value="Do"
	style="width:120"
	onClick="document.getElementById('msg_well').value+=(eval(document.getElementById('cmd').value)+'\n');"
><input	type=button
	id=action
	value="Do in Opener"
	style="width:120"
	onClick="window.opener.dgb_action(document.getElementById('cmd').value);"
><br /></form></span><hr /><DIV ALIGN="right">Nekomataya / Kiyo 2005</DIV>
<!---  PAGE FOOTER TABLE  ---->
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH="100%" HEIGHT="40" BGCOLOR="#880000">
	<TR>

<TH TEXTCOLOR="#FF88FF" BGCOLOR="#880000" WIDTH="25%">
<br />
</TH>

<TH TEXTCOLOR="#FF88FF" BGCOLOR="#880000" WIDTH="50%" ALIGN="CENTER">
<FONT COLOR="#FFFFFF">
でばぐ
</FONT>
</TH>

<TH BGCOLOR="#880000" WIDTH="25%">

<FONT COLOR="#FFFFFF">りまぴん</FONT>
</TH>

	</TR>
</TABLE>
<!---  PAGE FOOTER TABLE  ---->

</body>
</HTML>
