/*========== タイムシート全体 ============*/
 * {
  margin: 0; padding: 0;
 }
/*		基本デザイン
	情報量が多くて密度が低いのでフォントは小さめに
	ユーザ選択は基本的に禁止
*/
body {
	width:1122px;
	margin:0 100px 4px 0;
	padding:0 16px 0 0 ;
	overflow:scroll;
	background-color:#dedede;
	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	vertical-align:middle;
	font-size:9pt;
	line-height:1.5;
	font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic','ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';
}

/*form view*/

input	{text-align:center;}

/*		UI　サブコントロール
	height:12px(1px overlap)
	width:20px;
*/
input.tcInput {
	width:96px;
}

button.subControl {
	width:21px;
	height:12px;
	background-color:#666666;
	border-width:1px;
/*アイコンイメージ*/
	background-image: url(images/ui/subControlButtons.png);
}
button.subControl:hover {
	background-color:#464646;
}
button.subControl:disabled {
	background-color:#b0b0b0;
}

/* アイコン分離*/
.subControl-incrS { background-position: -2px 0; }
.subControl-incr6 { background-position: -26px 0; }
.subControl-incr { background-position: -50px 0; }
.subControl-decrT { background-position: -74px 0; }

.subControl-decrS { background-position: -2px -12px; }
.subControl-decr6 { background-position: -26px -12px; }
.subControl-decr { background-position: -50px -12px; }
.subControl-incrT { background-position: -74px -12px; }

.subControl-leftStop { background-position: -2px -24px; }
.subControl-left { background-position: -26px -24px; }
.subControl-right { background-position: -70px -24px; }
.subControl-rightStop { background-position: -54px -24px; }

.subControl-playT { background-position: -2px -36px; }
.subControl-circle { background-position: -26px -36px; }
.subControl-stop { background-position: -50px -36px; }
.subControl-pause { background-position: -74px -36px; }

.subControl-lock { background-position: -2px -48px; }
.subControl-unlock { background-position: -26px -48px; }

input.spinCtl {
	width:48px;
	margin: 0;
    text-align:center;
    border:1px solid #888;
    margin-right:20px;
}
button.spinCtl {
	margin: 0;
    font-size:6px;
    text-align:center;
    padding:0;
    border:1px solid #888;
	position:absolute;
}
/*
    background-image:-moz-linear-gradient(top,#fff 0%,
    #000);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),
    to(#000)););
*/
button.spinCtl-top {
	left:-22px;top:-5px;
   /* 角丸 */
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
button.spinCtl-bottom {
	left:-22px;top:6px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 0 4px 4px ;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;

}

/**
 * .timeControplButton
 */
.timeControl {
	margin: 2px 62px 2px 0;
}
button.subControl {
	margin: 0;
    font-size:6px;
    text-align:center;
    padding:0;
    border:1px solid #888;
	position:absolute;
}

.subControl-left {
	left:-60px;top:-5px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
 }
.subControl-right {
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
 }
  .subControl-left-top {
	left:-60px;top:-5px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
 }
 .subControl-left-bottom {
	left:-60px;top:6px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 0 0 3px;
    -webkit-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
 }
 .subControl-mid-top {
	left:-40px;top:-5px;
	margin: 0;
 }
 .subControl-mid-bottom {
	left:-40px;top:6px;
	margin: 0;
 }
  .subControl-right-top {
	left:-20px;top:-5px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
 }
 .subControl-right-bottom {
	left:-20px;top:6px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 0 3px 0;
    -webkit-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
 }

/* インポートダイアログ関連

*/
.timeInputTC {
    width:72px;
    height:24px;
    border-style:none;
    background-color:rgba(0,0,0,0);
}

input.SCiImportCB {
	display:inline;
}

#optionPanelSCI_title {
    width:250px;
}
#optionPanelSCI_opus {
    width:96px;
}
#optionPanelSCI_subtitle {
    width:320px;
}
.SCiInput {
    height:24px;
    border-style:none;
    background-color:rgba(0,0,0,0);
}
.SCiInput_Number {
    width:192px;
}

span.timeInputButtons {
    position:relative;
    left:64px;
    top:4px;
}
span.titleInputLB {
    text-align:right;
}

.sciTemplate {
     display:none;
     color:red;
}
