/*	remaping.css											*/
/*	りまぴん のためのスタイルシート							*/
/*	このスタイルシートを変更してデザインを調整できます。	*/
/*	Nekomataya/kiyo 2016									*/
/*															*/

/*========== タイムシート全体 ============*/
 * {
  margin: 0; padding: 0;
 }
/*		基本デザイン
	情報量が多くて密度が低いのでフォントは小さめに
	ユーザ選択は基本的に禁止
*/
body {
	margin:0px 100px 4px 0px;
	padding:0px 16px 0px 0px ;
	overflow:scroll;
	background-color:#dedede;
	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	vertical-align:middle;
	font-size:8pt;
}
/*========== リンク ============*/
a:link		{color:#000066}
a:visited	{color:green}
a:hover		{color:red;background-color:snow}
a:active	{color:gray;background-color:snow}
a:focus		{color:#880000;background-color:snow}

/*		固定ヘッダ
	ウインドウ全体をUIに割り付け、UIのマージン等を取得するエレメント
*/
#fixedHeader {
	width:100%;
	position:fixed;
	z-index:3;
}
/* スクロール領域*/
#UIheaderScrollV {
	display:inline;
}
#UIheaderScrollH {
	display:inline;
}
#UIheaderFix {
	display:inline;
	z-index:4;
}
#qdr4 {
	position:relative;
}


/* アプリケーションヘッダーライン
	印刷時は非表示
*/
div.server-info {
  text-align:right;
}
div #toolbarHeader {
	float:left;
	width:100%;
	background-color:#a0a0a0;
}

/*		デバッグ
	AIR専用エレメントは取リわけ
*/
#debug {
	display:none;
}
#airDbg {
	display:none;
}
/*		各種UIテーブル/エレメント
	各エレメントの値は設定ファイルを読み込んで更新されるので、この値は仮値
*/
div#UIheader {
	position:fixed;
	display:none;
	z-index: 2;
}
div.fixedHeadline {
	position:absolute;
}
iframe.UIhidden {
	visibility:none;
}
/*
	table
*/
table {
	border-color:#bbbbbb;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 16px;
	border-width:2px 1px 0px 0px;
	border-style:solid;
	table-layout:fixed;
	max-height:100%;
}
table.UItable{
	border-color:#bbbbbb;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-width:2px 1px 0px 0px;
	border-style:solid;
	table-layout:fixed;
}

table.info	{
	width:97%;
	height:10px;
	border-width:0px;
	table-layout:fixed;
}
table.sheet	{
		z-index: 1;
transform: matrix(1, 0, 0, 1, 0, 0);}
}
table.toolbox {	
	margin:0 0 0 0;
	padding:0 0 0 0
}
/*
		テーブル要素
*/
th {
	border-color:#bbbbbb;
	text-align:center;
	border-style:solid;
	border-width:4px 1px 1px 0px;
}

/*
	シートヘッダビュー設定
*/
td#edchg {width:6em;}
th.opusLabel{width:4em;}
th.titleLabel{width:18em;}
th.scenecutLabel{width:8em;}
th.subtitleLabel{width:8em;}
th.timeLabel{width:12em;}
th.nameLabel{width:8em;}
th.pageLabel{width:8em;}

/*
	シート本体のビュー設定
	時間スケール
*/
th.tcSpan {
	border-width:1px 1px 0px 1px;
	width:3em;
}
/*
	
*/
th.timelabel{
	color:gray;
	text-align:center;
	border-style:solid;
	border-width:0px 1px 3px 1px;
	}

/*		リファレンス

*/
th.referenceSpan {
	border-width:4px 1px 1px 0px;
	width:2em;
}
th.layerlabelR {
	text-align:center;
	border-style:solid;
	color:gray;
	border-width:3px 1px 3px 0px;
	font-size:9pt;
}
/*		ダイアログ
*/
th.dialogSpan {
	border-width:1px 1px 0px 0px;
	width:3em;
}
th.dialoglabel {
	text-align:center;
	border-style:solid;
	border-width:0px 1px 3px 0px;
/*	font-size:9pt;*/
}

/*		編集エリア
dialog/still/timing/sfx/camera
*/
th.editSpan {
	border-width:1px 0px 0px 0px;
	width:3em;
}
th.layerlabel {
	text-align:center;
	border-style:solid;
	border-width:3px 1px 3px 0px;
/*	font-size:9pt;*/
}

//still
th.stillSpan {
	border-width:1px 0px 0px 0px;
}
th.stilllabel {
	text-align:center;
	border-style:solid;
	border-width:3px 1px 3px 0px;
/*	font-size:9pt;*/
}
//timing
th.timingSpan {
	border-width:1px 0px 0px 0px;
	width:3em;
}
/*	font-size:9pt;*/
th.timinglabel {
	text-align:center;
	border-style:solid;
	border-width:3px 1px 3px 0px;
}
//sfx
th.sfxSpan {
	border-width:1px 0px 0px 0px;
	width:3em;
}
th.sfxlabel {
	text-align:center;
	border-style:solid;
	border-width:3px 1px 3px 0px;
/*	font-size:9pt;*/
}
//camera
th.cameraSpan {
	border-width:1px 0px 0px 0px;
	width:4em;
}
th.cameralabel {
	text-align:center;
	border-style:solid;
	border-width:3px 1px 3px 0px;
/*	font-size:9pt;*/
}

/*		フレーム注釈
	全体幅のクッションエリアとしても機能させるので
	このエレメントは幅指定無し
*/
th.framenoteSpan {
	border-width:1px 1px 0px 0px;
}
/*	font-size:9pt;*/
th.framenotelabel {
	text-align:center;
	border-style:solid;
	border-width:0px 1px 3px 1px;
/*	font-size:9pt;*/
}
/*		テーブルデータ基本
*/
/*	font-size:9pt;*/
td {
	position:relative;
	border-color:#bbbbbb;
	text-align:center;
	vertical-align:middle;
	border-style:solid;
	border-width:0px 1px 1px 0px;
	padding:0;
	margin:0;
	white-space: nowrap;
	overflow:hidden;
	font-size:10px;
}
/*	font-size:11pt;*/

td.menu {
	text-align:left;
	border-style:none;
	vertical-align:bottom
}

/*	font-size:11pt;*/
td.toolbar {
	text-align:left;
	border-style:none;
	vertical-align:top
}

/*	font-size:11pt;*/
td.toolbarR {
	text-align:right;
	border-style:none;
	vertical-align:top
}
/*	font-size:11pt;*/
td.logo	{
	text-align:right;
	border-style:none;
	vertical-align:bottom
	}

td.header {
	background-color:#000000;
	color:#f8f8f8;
	text-align:center;
	border-style:none;
	vertical-align:middle;
	font-weight:bold;
/*	font-size:9pt;*/
}
/*	font-size:9pt;*/
td.footer {
	background-color:#000000;
	color:#f8f8f8;
	text-align:center;
	border-style:none;
	vertical-align:middle;
	font-weight:bold;
}
td.layerOption {
	color:#f8f8f8;
	text-align:center;
	border-style:none;
	vertical-align:middle;
	font-weight:bold;
/*	font-size:8pt;*/
	width:100px;
}
/*		UI　TCインジケータ
*/
input.fct {
	width:128px;
}
/*		UI　グラフィックアイコンボタン
	width:24px;
	height:24px;
*/
button.iconButton {
	width:27px;
	height:27px;
	background-color:#666666;
	border-width:1px;
	vertical-align:middle;
   /* 角丸 */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

/*アイコンイメージ*/

background-image: url(images/ui/nas-ui-icons432x432px.png);
}

button.iconButton:hover {
	background-color:#464646;
}

button.iconButton:disabled {
	background-color:#b0b0b0;
}

/*	icon offsert positioning 27x27*/

.iconButton-blank { background-position: 27px 27px; }

.iconButton-selectBox { background-position: 0 0; }
.iconButton-selectCircle { background-position: -27px 0; }
.iconButton-cut { background-position: -54px 0; }
.iconButton-cut_d { background-position: -81px 0; }
.iconButton-copy { background-position: -108px 0; }
.iconButton-copy_d { background-position: -135px 0; }
.iconButton-paste { background-position: -162px 0; }
.iconButton-paste_d { background-position: -189px 0; }
.iconButton-undo { background-position: -216px 0; }
.iconButton-undo_d { background-position: -243px 0; }
.iconButton-redo { background-position: -270px 0; }
.iconButton-redo_d { background-position: -297px 0; }
.iconButton-gia { height:18px ;background-position: -324px 0; }
.iconButton-gia_d { height:18px ;background-position: -351px 0; }
/*
.iconButton- { background-position: -378px 0; }
.iconButton- { background-position: -405px 0; }
*/

.iconButton-toReference { background-position: 0 -27px; }
.iconButton-fromReference { background-position: -27px -27px; }
.iconButton-toRight { background-position: -54px -27px; }
.iconButton-toLeft { background-position: -81px -27px; }
.iconButton-reload { background-position: -108px -27px; }
.iconButton-set { background-position: -135px -27px; }
.iconButton-get { background-position: -162px -27px; }
.iconButton-openX { background-position: -189px -27px; }
.iconButton-storeX { background-position: -216px -27px; }
.iconButton-cgiStore { background-position: -243px -27px; }
.iconButton-storeAs { background-position: -270px -27px; }
.iconButton-exp { background-position: -297px -27px; }
.iconButton-imp { background-position: -324px -27px; }
.iconButton-push { background-position: -351px -27px; }
.iconButton-pull { background-position: -378px -27px; }
.iconButton-close { background-position: -405px -27px; }

.iconButton-document { background-position: 0 -54px; }
.iconButton-timesheet { background-position: -27px -54px; }
.iconButton-layerName { background-position: -54px -54px; }
.iconButton-export { background-position: -81px -54px; }
.iconButton-import { background-position: -108px -54px; }
.iconButton-cat { background-position: -135px -54px; }
.iconButton-fldChart { background-position: -162px -54px; }
.iconButton-refChart { background-position: -189px -54px; }
.iconButton-fromTVP { background-position: -216px -54px; }
.iconButton-toTVP { background-position: -243px -54px; }
.iconButton-dialog2Text { background-position: -270px -54px; }
.iconButton-dialogEdit { background-position: -297px -54px; }
.iconButton-simplify { background-position: -324px -54px; }
.iconButton-eraser { background-position: -351px -54px; }
.iconButton-zoom { background-position: -378px -54px; }
.iconButton-search { background-position: -405px -54px; }

.iconButton-section { background-position: 0 -81px; }
.iconButton-reformat { background-position: -27px -81px; }
.iconButton-clearFS { background-position: -54px -81px; }
.iconButton-axe_1 { background-position: -81px -81px; }
.iconButton-axe_2 { background-position: -108px -81px; }
.iconButton-axe_3 { background-position: -135px -81px; }
.iconButton-axe_4 { background-position: -162px -81px; }
.iconButton-pen_1 { background-position: -189px -81px; }
.iconButton-pen_2 { background-position: -216px -81px; }
.iconButton-pen_3 { background-position: -243px -81px; }
.iconButton-footStamp { background-position: -270px -81px; }
.iconButton-letter { background-position: -297px -81px; }
.iconButton-inbetweenDot { background-position: -324px -81px; }
.iconButton-bigCross { background-position: -351px -81px; }
.iconButton-notice { background-position: -378px -81px; }
/*.iconButton-dialog { background-position: -405px -81px; }*/
.iconButton-dialog { height:18px ;background-position: -405px -86px; }

.iconButton-clearTL { background-position: 0 -108px; }
.iconButton-FO { background-position: -27px -108px; }
.iconButton-FI { background-position: -54px -108px; }
.iconButton-transition { background-position: -81px -108px; }
.iconButton-interpSection { background-position: -108px -108px; }
.iconButton-strongCell { background-position: -135px -108px; }
.iconButton-interpDot { background-position: -162px -108px; }
.iconButton-vLine { background-position: -189px -108px; }
.iconButton-wLine { background-position: -216px -108px; }
.iconButton-incrCell { background-position: -243px -108px; }
.iconButton-decrCell { background-position: -270px -108px; }
.iconButton-addCircle { background-position: -297px -108px; }
.iconButton-addBrackets { background-position: -324px -108px; }
.iconButton-addAngles { background-position: -351px -108px; }
.iconButton-incr { background-position: -378px -108px; }
.iconButton-decr { background-position: -405px -108px; }
/*
*/
.iconButton-util { background-position: 0 -135px; }
.iconButton-util_d { background-position: -27px -135px; }
.iconButton-skb { background-position: -54px -135px; }
.iconButton-skb_d { background-position: -81px -135px; }
.iconButton-path { background-position: -108px -135px; }
.iconButton-preview { background-position: -135px -135px; }
.iconButton-xps { background-position: -162px -135px; }
.iconButton-documents { background-position: -189px -135px; }
.iconButton-trace { background-position: -216px -135px; }
/* .iconButton-debug { background-position: -243px -135px; } */
.iconButton-debug { height:18px ;background-position: -243px -139px; }
.iconButton-renumber { background-position: -270px -135px; }
.iconButton-makeLayerset { background-position: -297px -135px; }
.iconButton-divideLayers { background-position: -324px -135px; }
.iconButton-gatherLayers { background-position: -351px -135px; }
.iconButton-addRegister { background-position: -378px -135px; }
.iconButton-duplicateRegister { background-position: -405px -135px; }
/*
*/
.iconButton-switchTF { background-position: 0 -162px; }
.iconButton-timelineAnimation { background-position: -27px -162px; }
.iconButton-frameAnimation { background-position: -54px -162px; }
.iconButton-switchShortcut { background-position: -81px -162px; }
.iconButton-multipage { background-position: -108px -162px; }
.iconButton-singlepage { background-position: -135px -162px; }
.iconButton-plus { background-position: -162px -162px; }
/*.iconButton- { background-position: -189px -162px; } */

.iconButton-movie { background-position: -216px -162px; }
.iconButton-ps { background-position: -243px -162px; }
/*
.iconButton- { background-position: -270px -162px; }
.iconButton- { background-position: -297px -162px; }
.iconButton- { background-position: -324px -162px; }
.iconButton- { background-position: -351px -162px; }
.iconButton- { background-position: -378px -162px; }
.iconButton- { background-position: -405px -162px; }
*/
.iconButton-shiftLayerB { background-position: 0 -189px; }
.iconButton-shiftLayerU { background-position: -27px -189px; }
.iconButton-swapLayers { background-position: -54px -189px; }
.iconButton-focusTop { background-position: -81px -189px; }
.iconButton-duplicateLayers { background-position: -108px -189px; }
.iconButton-removeLayers { background-position: -135px -189px; }
.iconButton-addLayer_1 { background-position: -162px -189px; }
.iconButton-addLayer_2 { background-position: -189px -189px; }
.iconButton-goTo { background-position: -216px -189px; }
.iconButton-sortLayers { background-position: -243px -189px; }
.iconButton-reverseLayers { background-position: -270px -189px; }
.iconButton-smartTrsfm { background-position: -297px -189px; }
.iconButton-fixTrsfm { background-position: -324px -189px; }
.iconButton-resetTrsfm { background-position: -351px -189px; }
.iconButton-layerSetting { background-position: -378px -189px; }
.iconButton-layerRotation { background-position: -405px -189px; }
/*
*/
.iconButton-addStillTL { background-position: 0 -216px; }
.iconButton-addReplacementTL { background-position: -27px -216px; }
.iconButton-addCameraworkTL { background-position: -54px -216px; }
.iconButton-addEffectsTL { background-position: -81px -216px; }
.iconButton-addSoundTL { background-position: -108px -216px; }
.iconButton-addTransitionTL { background-position: -135px -216px; }
.iconButton-addPeg { background-position: -162px -216px; }
.iconButton-addCameraTL { background-position: -189px -216px; }
.iconButton-insertTL { background-position: -216px -216px; }
.iconButton-removeTL { background-position: -243px -216px; }
.iconButton-blockRemove { background-position: -270px -216px; }
.iconButton-blockInsert { background-position: -297px -216px; }
.iconButton-addText { background-position: -324px -216px; }
.iconButton-editText { background-position: -351px -216px; }
.iconButton-addPlus { background-position: -378px -216px; }
.iconButton-removePlus { background-position: -405px -216px; }
/*
*/
.iconButton-selectAllAF { background-position: 0 -243px; }
.iconButton-initAF { background-position: -27px -243px; }
.iconButton-duplicateAF { background-position: -54px -243px; }
.iconButton-copyAF { background-position: -81px -243px; }
.iconButton-removeAF { background-position: -108px -243px; }
.iconButton-pasteAF { background-position: -135px -243px; }
.iconButton-reverseAF { background-position: -162px -243px; }
.iconButton-expandSelection { background-position: -189px -243px; }
.iconButton-expandLayrset { background-position: -216px -243px; }
.iconButton-expandAll { background-position: -243px -243px; }
.iconButton-flagBox { background-position: -270px -243px; }
.iconButton-flagMinus { background-position: -297px -243px; }
.iconButton-flagPlus { background-position: -324px -243px; }
.iconButton-flagCircle { background-position: -351px -243px; }
.iconButton-flagCross { background-position: -378px -243px; }
.iconButton-flagTriangle { background-position: -405px -243px; }
/*
*/
.iconButton-goWorkAreaHead { background-position: 0 -270px; }
.iconButton-goWorkAreaTail { background-position: -27px -270px; }
.iconButton-setWorkAreaHead { background-position: -54px -270px; }
.iconButton-setWaokAreaTail { background-position: -81px -270px; }
.iconButton-extractWorkArea { background-position: -108px -270px; }
.iconButton-liftWorkArea { background-position: -135px -270px; }
.iconButton-moveStartTL { background-position: -162px -270px; }
.iconButton-moveEndTL { background-position: -189px -270px; }
.iconButton-setStartTL { background-position: -216px -270px; }
.iconButton-setEndTL { background-position: -243px -270px; }
.iconButton-splitTL { background-position: -270px -270px; }
.iconButton-putKey { background-position: -297px -270px; }
.iconButton-removeKey { background-position: -324px -270px; }
.iconButton-shiftKey { background-position: -351px -270px; }
.iconButton-goToTime { background-position: -378px -270px; }
/*
.iconButton- { background-position: -405px -270px; }
*/
.iconButton-goBWD { background-position: 0 -297px; }
.iconButton-goFWD { background-position: -27px -297px; }
.iconButton-pause { background-position: -54px -297px; }
.iconButton-goFFWD { background-position: -81px -297px; }
.iconButton-goFBWD { background-position: -108px -297px; }
.iconButton-goNext { background-position: -135px -297px; }
.iconButton-goPrev { background-position: -162px -297px; }
.iconButton-stop { background-position: -189px -297px; }
.iconButton-eject { background-position: -216px -297px; }
/*
.iconButton- { background-position: -243px -297px; }
.iconButton- { background-position: -270px -297px; }
.iconButton- { background-position: -297px -297px; }
.iconButton- { background-position: -324px -297px; }
.iconButton- { background-position: -351px -297px; }
.iconButton- { background-position: -378px -297px; }
.iconButton- { background-position: -405px -297px; }
*/
.iconButton-buildXPS { background-position: 0 -324px; }
.iconButton-editXPS { background-position: -27px -324px; }
.iconButton-linkXPS { background-position: -54px -324px; }
.iconButton-FPS { background-position: -81px -324px; }
.iconButton-movieFrame { background-position: -108px -324px; }
.iconButton-moieFrameSetting { background-position: -135px -324px; }
/*
.iconButton- { background-position: -162px -324px; }
.iconButton- { background-position: -189px -324px; }
.iconButton- { background-position: -216px -324px; }
.iconButton- { background-position: -243px -324px; }
.iconButton- { background-position: -270px -324px; }
.iconButton- { background-position: -297px -324px; }
.iconButton- { background-position: -324px -324px; }
.iconButton- { background-position: -351px -324px; }
.iconButton- { background-position: -378px -324px; }
.iconButton- { background-position: -405px -324px; }
*/
.iconButton-ONS { background-position: 0 -351px; }
.iconButton-ONSsetting { background-position: -27px -351px; }
.iconButton-ONS_0 { background-position: -54px -351px; }
.iconButton-ONS_1 { background-position: -81px -351px; }
.iconButton-ONS_2 { background-position: -108px -351px; }
.iconButton-ONS_3 { background-position: -135px -351px; }
.iconButton-ONS_4 { background-position: -162px -351px; }
.iconButton-traceBlack { background-position: -189px -351px; }
.iconButton-traceR { background-position: -216px -351px; }
.iconButton-traceG { background-position: -243px -351px; }
.iconButton-traceB { background-position: -270px -351px; }
.iconButton-traceC { background-position: -297px -351px; }
.iconButton-traceM { background-position: -324px -351px; }
.iconButton-traceY { background-position: -351px -351px; }
.iconButton-traceGY { background-position: -378px -351px; }
/*
.iconButton- { background-position: -405px -351px; }
*/
/*
.iconButton- { background-position: 0 -378px; }
.iconButton- { background-position: -27px -378px; }
.iconButton- { background-position: -54px -378px; }
.iconButton- { background-position: -81px -378px; }
.iconButton- { background-position: -108px -378px; }
.iconButton- { background-position: -135px -378px; }
.iconButton- { background-position: -162px -378px; }
.iconButton- { background-position: -189px -378px; }
.iconButton- { background-position: -216px -378px; }
.iconButton- { background-position: -243px -378px; }
.iconButton- { background-position: -270px -378px; }
.iconButton- { background-position: -297px -378px; }
.iconButton- { background-position: -324px -378px; }
.iconButton- { background-position: -351px -378px; }
.iconButton- { background-position: -378px -378px; }
.iconButton- { background-position: -405px -378px; }
*/
.iconButton-checker { background-position: 0 -405px; }
.iconButton-cell { background-position: -27px -405px; }
.iconButton-separation { background-position: -54px -405px; }
.iconButton-traceAll { background-position: -81px -405px; }
.iconButton-traceFGC { background-position: -108px -405px; }
.iconButton-traceK { background-position: -135px -405px; }
.iconButton-tracePPP { background-position: -162px -405px; }
.iconButton-paintLayer { background-position: -189px -405px; }
.iconButton-thiningLine { background-position: -216px -405px; }
.iconButton-borderFill { background-position: -243px -405px; }
.iconButton-smoother { background-position: -270px -405px; }
.iconButton-colorBox { background-position: -297px -405px; }
.iconButton-colorInfo { background-position: -324px -405px; }
/*
.iconButton- { background-position: -351px -405px; }
.iconButton- { background-position: -378px -405px; }
.iconButton- { background-position: -405px -405px; }
*/


/*一文字用ボタン*/
button.oneChr {width:1.5em;margin:0px;padding:0px;}
/*		UI　AEキー　コンバートスイッチ
*/
input.aekConvert {
	width:72px;
	text-align:center;
}
/*		UI　入力エリア
*/
input.iNputbOx {
	text-align:right;
	width:9em;
}
/*		UI　サブコントロール
	height:12px(1px overlap)
	width:20px;
*/
button.subControl {
	width:21px;
	height:12px;
	background-color:#666666;
	border-width:1px;

/*アイコンイメージ*/
	background-image: url(images/ui/subControlButtons.png);
}
button.subControl:hover {
	background-color:#464646;
}
button.subControl:disabled {
	background-color:#b0b0b0;
}

/* アイコン分離*/
.subControl-incrS { background-position: -2px 0; }
.subControl-incr6 { background-position: -26px 0; }
.subControl-incr { background-position: -50px 0; }
.subControl-incrT { background-position: -54px 0; }

.subControl-decrS { background-position: -2px -12px; }
.subControl-decr6 { background-position: -26px -12px; }
.subControl-decr { background-position: -50px -12px; }
.subControl-decrT { background-position: -54px -12px; }

.subControl-leftStop { background-position: -2px -24px; }
.subControl-left { background-position: -26px -24px; }
.subControl-right { background-position: -50px -24px; }
.subControl-rightStop { background-position: -54px -24px; }

.subControl-playT { background-position: -2px -36px; }
.subControl-circle { background-position: -26px -36px; }
.subControl-stop { background-position: -50px -36px; }
.subControl-pause { background-position: -54px -36px; }


input.spinCtl {
	width:48px;
	margin: 0;
    text-align:center;
    border:1px solid #888;
    margin-right:20px;
}
button.spinCtl {
	margin: 0;
    font-size:6px;
    text-align:center;
    padding:0;
    border:1px solid #888;
	position:absolute;
}
/*
    background-image:-moz-linear-gradient(top,#fff 0%,
    #000);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),
    to(#000)););
*/
button.spinCtl-top {
	left:-22px;top:-5px;
   /* 角丸 */
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}
button.spinCtl-bottom {
	left:-22px;top:6px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0px 0px 4px 4px ;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;

}

/**
 * .timeControplButton
 */
.timeControl {
	margin: 2px 62px 2px 0px;
}
button.subControl {
	margin: 0;
    font-size:6px;
    text-align:center;
    padding:0;
    border:1px solid #888;
	position:absolute;
}

.subControl-left {
	left:-60px;top:-5px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
 }
.subControl-right {
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
 }
  .subControl-left-top {
	left:-60px;top:-5px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
 }
 .subControl-left-bottom {
	left:-60px;top:6px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 0 0 3px;
    -webkit-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
 }
 .subControl-mid-top {
	left:-40px;top:-5px;
	margin: 0;
 }
 .subControl-mid-bottom {
	left:-40px;top:6px;
	margin: 0;
 }
  .subControl-right-top {
	left:-20px;top:-5px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
 }
 .subControl-right-bottom {
	left:-20px;top:6px;
	margin: 0;
   /* 角丸 */
    -moz-border-radius: 0 0 3px 0;
    -webkit-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
 }
 
 /*========== ページヘッダーテーブル ============*/
.pageHeader {
	display:none;
}
/*====スクロールスペーサーとしてブロックを確保する
 */
/*========== シートヘッダーテーブル ============
	スクロールスペーサーを兼用をやめて分離
 */
.sheetHeader {
	display:none;
}

/*	ツールボックスの部品*/
input.toolTip	{
/*	font-size:8pt;
	height:15pt;*/
	width:100%;
}
/*		UI.表示プロパティ

*/
div.optionPanel{
	display:none;
	margin:0px 0px 0px 16px 
}
div.optionPanelModal{
	display:none;
}
div.optionPanelFloat{
	display:none;
}
/*	タイムシートの罫線
	タイムシートセルは以下の分類でスタイルを設定している
	Sep	＝セパレータ
	lt,nt,dt	秒セパレータ
	ls,ns,ds　サブセパレータ
	ln,nn,dn	標準セパレータ
	
 */
.Sep {background-color:red}
/*タイムセパレータライン*/
/*		左端*/
.ltSep,.ltSep_Blank {
	color:gray;
	text-align:right;
	border-style:solid;
	vertical-align:bottom;
/*	font-size:4pt;*/
		border-width:0px 1px 3px 1px;
}
/*		通常データ*/
.ntSep,.ntSep_Blank {
		border-width:0px 1px 3px 0px;
}
/*		ダイアログ*/
.,._Blank {
		border-width:0px 1px 3px 0px;
}

/*サブセパレータライン*/
/*		左端*/
.lsSep,.lsSep_Blank {
	color:gray;
	text-align:right;
	border-style:solid;
	vertical-align:bottom;
/*	font-size:6pt;*/
		border-width:0px 1px 2px 1px;
}
/*		通常データ*/
.nsSep,.nsSep_Blank {
		border-width:0px 1px 2px 0px;
}
/*		ダイアログ*/
.dsSep,.dsSep_Blank {
		border-width:0px 1px 0px 0px;
}

/*通常ライン*/
/*		左端*/
.lnSep,.lnSep_Blank {
	color:gray;
	text-align:right;
	border-style:solid;
	vertical-align:bottom;
/*font-size:12pt;*/
	border-width:0px 1px 1px 1px;
	height:5px;
}
/*		参照データ*/
.ref {
		color:gray;
}
.rnSep,.rnSep_Blank {
		border-width:0px 1px 1px 0px;
		color:gray;
}
th.rnArea{
		color:gray;
		border-width:2px 1px 0px 0px;
		width:144px;
}
/*		通常データ*/
.nnSep,.nnSep_Blank {
			border-width:0px 1px 1px 0px;
}



th.editArea {
		border-width:2px 1px 0px 0px;
}
/*		ダイアログ*/
.dnSep,.dnSep_Blank {
		border-width:0px 1px 0px 0px;
}
.dialoglabel {
		border-width:0px 1px 0px 0px;
		width:36px;
}
/*	カラムセパレータ	*/
td.colSep {
	border-style:none;
	height:2px;
}
/*	border-width:1px 1px 1px 1px; */
/*エンドセパレータ（未使用）*/
/*		左端*/
.leSep,.leSep_Blank {
		border-width:0px 1px 4px 1px;
}
/*		通常データ*/
.neSep,.neSep_Blank {
		border-width:0px 1px 4px 0px;
}
/*		ダイアログ*/
.deSep,.deSep_Blank {
		border-width:0px 1px 4px 0px;
}
/*	時間表示	*/
.timeguide {
	text-align:left;
}
/*======================================================
/*	タイムシート上の入力ボックス	*/
.IptBox {
	background-color:#ffffff;
	height:10pt;
/*	font-size:9pt;*/
	border-width:0px;
	border-style:none;
	text-align:center;
	margin:0;
	padding:0;
}
/*	ページノンブル	*/
.pgNm {
/*	font-size:9pt;*/
}
/*
	background-color:#efffef;
	background-color:#efffef;

*/

.infoTable {
	width:100%;
	text-align:center;
/*	font-size:5pt;*/
}
.sheet-header {
	z-index:auto;
}
.headerTool {
	width:100%;
	top:64px;
	z-index: 7;
}
.footerTool {
	width:100%;
	top:0px;
	margin:0;
}

.screenSpace{
	width:97%;height:10px;
}
.printSpace {
	display:none;
}
.pageBreak {
	display:none;
}
/*form view*/

input	{text-align:center;}
select	{text-align:center;}
/*
 * {
  margin: 0; padding: 0;
 }
 #fixed {
  position: fixed;
 }
 #sheet_view p {
  margin:0;
 }
	*/
 #sheet_view {
 	margin:0;
 }

/*タイムシートの文字飾り (例)*/
.v_bar	{color:blue;border-style:solid;border-color:blue;border-width:0px 1px 0px 0px;padding:0;margin:0;}
/*.v_bar	{ height:40px;font-size:9pt;color:blue;border-style:solid;border-color:blue;border-width:0px 1px 0px 0px;padding:0;margin:0;}
/* .v_wave	{ height:12pt;padding:0;margin:0;}  background-image:url(./images/ui/waveline16px.png);*/
.v_wave	{ height:11px;padding:0;margin:0;}
line  {margin:0;padding:0;}
/* */
td#title {
	font-weight:900;
/*	font-size:11px;*/
}
td#scene_cut {
	font-weight:900;
/*	font-size:11px;*/
}

/*
その他のエレメントid は、ソースを直接読むか、取扱説明書をご覧ください。
*/
div.application_status {
	z-index:88;
	border-style:solid;
	border-color:snow;
	border-width:0px 0px 1px 0px;
	padding:0px 0px 0px 16px 
}
/*	オプションパネル
*/



#optionPanelLogin{
    display:none;
}
#optionPanelTbx{
    display:none;
    position:absolute;
    top:64px;
    left:120px;
    width:660px;
    height:165px;
    background-color:#efefef;
    padding:0;
    border-style:double;
}
#optionPanelTbx a.minimize{
    position:absolute;
    right:32px;
    top:1px;
}
#optionPanelTbx a.close{
    position:absolute;
    right:8px;
    top:1px;
}
#optionPanelTbx a.minimize img{
    border:none;
}
#optionPanelTbx a.close img{
    border:none;
}
/*
#optionPanelTbx dl{
    width:100%;
    height:100%;
    background:url("../images/toolbox.gif");
    margin:0;
}
*/
#optionPanelTbx dl dt{
    height:25px;
    line-height:25px;
    text-indent:1em;
    font-weight:bold;
    cursor:move;
}
#optionPanelTbx dl dd{
    margin:0;
    padding:2em;
    line-height:1.5;
    text-indent:1em;
}

#optionPanelVer {
    display:none;
    width:480px;
    height:340px;
    background-color:#efefef;
    padding:6px;
    border-style:double;
}
#optionPanelPref {
    display:none;
    width:480px;
    height:308px;
    background-color:#efefef;
    padding:6px;
    border-style:double;
}
/*	ドキュメントブラウザ関連

*/
#issueSelector select{
		width:100%;
		height:42px;
	}
	.document-selector {
	  height:75%;
	}
	.document-selector-opus {
	  width:60%;
	  text-align:right;
	}
	.document-selector-cut {
	  width:40%;
	  text-align:left;
	}

.productFilter {
	height:27px;
	width:64px;
	vertical-align:middle;
}
.numberFilter {
	
	height:27px;
	width:48px;
	vertical-align:middle;
}
.documentPanelButton {
	height:27px;
	width:120px;
	vertical-align:middle;
}
.documentPanelButton-search {
	 width:24px;
}
/*---------------- ドロップダウンメニュー*/

#pMenu div{
  z-index:8;
  display:none;
  margin:0;
}

#pMenu li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0px;
  width: 72px;
  height: 16px;
  border: solid 1px #ccc;
  font-weight: bold;
  list-style-type: none;
}
#pMenu li:hover {
  color: #fff;
  background: #333;
  z-index: 9;
}
#pMenu li ul {
  display: none;
  position: absolute;
  top: 16px;
  left: -1px;
  padding: 5px;
  width: 150px;
  background: #eee;
  border: solid 1px #ccc;
}
#pMenu li ul li {
  margin: 0;
  padding: 0;
  width: 150px;
  border: none;
}
#pMenu li ul li a {
  display: inline-block;
  width: 150px;
  height: 20px;
}
#pMenu li ul li a:hover {
  background: #999;
  color: #fff;
}

#pMenu li ul{
	display:none;
	position:absolute;
}

.pM {
	color: #666;
}

.pM-alt {
	coror:AAA;
	display:none;
}




input{
	vertical-align:middle;
}

#sheet_body {
transform-origin: 0 0;transform:scale(1,1);	
}
/**
	　jQuery-ui　combobox
*/
 .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
/**
	　jQuery-ui　tooltip
*/
 .ui-tooltip {	font-size: 10px;}

/**
	cellGraphicLayer
	canvas object
*/
	.cgl {
		position: absolute;
		z-index: 3;
		pointer-events: none;
		brend-mode: multiply;
		opacity:0.4;
	}
/**
	.pmcui
*/
.pmcui	{
	margin-top:8px;
	background-color:#bbbbdd;
	color:#666688;
	border-width:1px;
	border-style:inset;
}
span.pmcui_ {
		font-style:strong;
	}
/* button */
.jobControl {
	width :96px;
	height:21px;
}
.jobControl-checkin {margin-left:8px;}
.jobControl-deactivate {display:none;}

.pmLabel	{
	margin-left:16px;
	display:inline-block;
	width:96px;
	text-align:right;
}
.pmId	{
	margin-left:6px;
	margin-right:6px;
	display:inline-block;
	width:36px;
	text-align:right;
}
.pmControl	{
	width:96px;
	height:21px;
}
.pmControl-new {margin-left:8px;}

.pmControllButton	{
	width:48px;
	height:21px;
}
.pmSelector	{
	width:128px;
	height:18px;	
}