<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>TOOLBOX</title>
<style type="text/css">
<!--
@import url("remaping.css") ;
-->
</style>
	<script src=../javascript/nas_common.js></script>
	<script src=../javascript/nas_common_HTML.js></script>
	<script src=../javascript/game.js></script>
	<script src=../javascript/toolbox.js></script>
</head>
<body 
	onload='initToolbox();'
	onUnload='window.opener.xUI.SWap["tool_"]=false;'
	bgcolor="#efefef"
>
<form name=test action="javascript:void();">
<!-- りまぴん ツールボックスインターフェース-->
<table	class=toolbox
	id=uiTable
>
<tr><!-- メニューバー と ロゴ -->
<td	colspan=2
	class=menu
>
<a href='javascript:void(0)' onClick='return window.opener.xUI.openSW("scene_");' target="scene_">Document</a> 
<a href='javascript:void(0)' onClick='return window.opener.xUI.openSW("pref_");' target="pref_">Pref</a> 
<a href='javascript:void(0)' onClick='window.opener.myScenePref.open();return false;' target="scene_">Document</a> 
<a href='javascript:void(0)' onClick='window.opener.myPref.open();return false;' target="pref_">Pref</a> 
</td>
<td
	class=logo
><b>りまぴん</b></td>
</tr>
<tr>
<td	
	colspan=3
	class=toolbar
>
<input	type=button
	name=all
	id=selall
	title="一列選択"
	value=Ａ
	style="	width:1.8em;"
	onclick="chkValue(this.id);"
><input	type=button
	name=cut
	id=cut
	title="切り取り"
	value=Ｘ
	style="	width:1.8em;"
	onclick="chkValue(this.id);"
><input	type=button
	name=copy
	id=copy
	title="複写"
	value=Ｃ
	style="	width:1.8em;"
	onclick="chkValue(this.id);"
><input	type=button
	name=pate
	id=paste
	title="貼り付け"
	value=Ｖ
	style="	width:1.8em;"
	onclick="chkValue(this.id);"
> 

<input	type=button
	name=activeLvl
	id=activeLvl
	title="AEキーを作成"
	value=A
	style="	width:5em;"
	onclick="chkValue(this.id);"
> 
<input	type=button
	value="▽"
	id=v_dn
	title="ひとつ減らす"
	style="	width:1.5em;"
	onclick="chkValue(this.id);"
><input	type=text
	name=spin_V
	id=spin_V
	title="スピンの値"
	size=4
	value=3
	style="width:1.8em;text-align:center"
	onclick="chkValue(this.id);"
><input	type=button
	value="△"
	id=v_up
	title="ひとつ増やす"
	style="	width:1.5em;"
	onclick="chkValue(this.id);"
><input type=checkbox
	name=spinCk
	id=spinCk
	onChange="chkValue(this.id);"
	title"選択範囲をスピン指定にする"
><a	href="javascript:void(0);"
	onClick='return chg("spinCk");'
	title"選択範囲をスピン指定にする"

>Spin</a> 

<input	type=button
	name=undo
	id=undo
	value=Ｚ
	title="やり直し"
	style="	width:1.8em;"
	onclick="chkValue(this.id);"
><input	type=button
	name=redo
	id=redo
	value=Ｙ
	title="やり直しのやり直し"
	style="	width:1.8em;"
	onclick="chkValue(this.id);"
><br /><input	type=text
	name=iNputbOx
	id=iNputbOx
	style=" text-align:right;
		width:70%
	"
	onKeyDown="return keyDown(event)"
	onKeyPress="return keyPress(event)"
	onKeyUp="return keyUp(event)"
	onFocus='window.opener.xUI.activate("tool_");'
><input	type=button
	name=ok
	id=ok
	value=○
	title="確定"
	style="	width:1.8em;"
	onclick="chkValue(this.id);"
><input	type=button
	name=ng
	id=ng
	value=×
	title="取り消し"
	style="	width:1.8em;"
	onclick="chkValue(this.id);"
><!--<input	type=button
	value=test
	title="試験用・エクスプレッション評価"
	onclick="document.getElementById('rEsult_bOx').innerHTML =eval(document.getElementById('iNputbOx').value)+'<br />';"
>--><br /
><input	type=button
	name=skb00
	id=skb00
	value="0"
	title="0"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb01
	id=skb01
	value="1"
	title="1"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb02
	id=skb02
	value="2"
	title="2"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb03
	id=skb03
	value="3"
	title="3"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb04
	id=skb04
	value="4"
	title="4"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb05
	id=skb05
	value="5"
	title="5"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb06
	id=skb06
	value="6"
	title="6"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb07
	id=skb07
	value="7"
	title="7"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb08
	id=skb08
	value="8"
	title="8"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb09
	id=skb09
	value="9"
	title="9"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb10
	id=skb10
	value="."
	title="."
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb11
	id=skb11
	value="-"
	title="-"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb12
	id=skb12
	value="("
	title="("
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
><input	type=button
	name=skb13
	id=skb13
	value=")"
	title=")"
	style="	width:1.8em;"
	onclick="skbPush(this.value)"
>

</td>
</tr>
<tr>
	<th>レベル</th>
	<th>セル</th>
	<th>よく使う文字</th>
</tr>
<tr>

<td	id=l_select
	align=rigth
	valign=top
><select
	name="map_labels"
	id="layer"
	title="レイヤを選択"
	size= 5
onClick='if(document.getElementById("single").checked) chkValue(this.id)'
onDblClick='if (! document.getElementById("single").checked) chkValue(this.id)'
>
<option>A
<option>B
<option>C
<option>D
<option>E
<option>F
</select>
</td>
<td	id=c_select
	rowspan=2
	align=rigth
	valign=top
><select
	name="cell_numbers"
	id="cell"
	size=6
onClick='if(document.getElementById("single").checked) chkValue(this.id)'
onDblClick='if (! document.getElementById("single").checked) chkValue(this.id)'
>
<option>---
<option>---
<option>---
<option>---
</select></td>
<td	id=u_select
	rowspan=2
	align=rigth
	valign=top
><select
	name="fav"
	id="fav"
	size=6
onClick='if(document.getElementById("single").checked) chkValue(this.id)'
onDblClick='if (! document.getElementById("single").checked) chkValue(this.id)'
>
<option>X
<option>カラ
<option>｜
<option>___
<option>----
<option>[ * ]
<option>( * )
<option>< * >
</select></td></tr>
<tr>

<td>
<input	type=checkbox
	naem=single
	id=single
	checked=true
><a href="javascript:void()" onClick='return chg("single")'>single-click</a>
<!--<input	type=button
	value=clearFS
	id=clearFS
	style="width:100%"
	onclick="chkValue(this.id);"
>
-->
</td></tr>
<tr>
<td	colspan=3
	class=logo
><div align=center><table><tr><td
	border=0
><input type=button
	title="トップに"
	value=HOME
	id=home
	onclick="chkValue(this.id);"
	style="width:5em"
><br /><input type=button
	title="おしまいへ"
	value=END
	id=end
	onclick="chkValue(this.id);"
	style="width:5em"
></td><td
	border=0
>
<input	type=button
	title="left"
	value=&lt;&lt;
	id=left
	onclick="chkValue(this.id);"
	style="width:3em"
></td><td
	nowrap
	border=0
><input	type=button
	title="UP"
	value=△
	id=up
	onclick="chkValue(this.id);"
	style="width:3em"
><br><input type=button
	alt="DOWN"
	value=▽
	id=down
	onclick="chkValue(this.id);"
	style="width:3em"
></td><td
	nowrap
	align=left
	border=0
><input type=button
	alt="RIGHT"
	value=&gt;&gt;
	id=right
	onclick="chkValue(this.id);"
	style="width:3em"
></td><td
	border=0
><input type=button
	alt="spinF"
	value=↑spin↑
	id=back
	onclick="chkValue(this.id);"
	style="width:5em"
><br /><input type=button
	alt="spinB"
	value=↓spin↓
	id=fwd
	onclick="chkValue(this.id);"
	style="width:5em"
></td></tr></table></div></td></tr><tr>
<td	colspan=3
	nowrap
>
<input	type=text
	name=fct0
	id=fct0
	size=16
	value='00:00:00+00_'
	onChange="chkValue(this.id);"
	style="width:30%"
><input	type=text
	name=fct1
	id=fct1
	size=16
	value='p00 / 000+00_'
	onChange="chkValue(this.id);"
	style="width:30%"
>
<input	type=button
	alt="前のページへ"
	value=Pgup
	id=pgup
	onclick="chkValue(this.id);"
	style="width:15%"
><input type=button
	alt="次のページへ"
	value=Pgdn
	id=pgdn
	onclick="chkValue(this.id);"
	style="width:15%"
>
<br />
</td></tr><tr>
<td	id=rEsult_bOx
	colspan=3
><br /></td></tr></table></form></body></html>
